[Unit]
Description=Xtream Codes Services
After=network.target mariadb.service php8.1-fpm.service nginx.service

[Service]
Type=forking
User=xtreamcodes
Group=xtreamcodes
PIDFile=/home/xtreamcodes/iptv_xtream_codes/tmp/xtreamcodes.pid
ExecStart=/home/xtreamcodes/iptv_xtream_codes/start_services.sh
ExecStop=/home/xtreamcodes/iptv_xtream_codes/stop_services.sh
Restart=always
RestartSec=5s
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
